body {
  background: #eee;
}

#editor {
  background: transparent;
  position: relative;
  margin: auto;
  margin-top: 25%;
  max-width: 550px;
  min-height: 150px;
}

.ProseMirror {
}

.checkbox {
  display: block;
  left: -25px;
  position: absolute;
}

.checklist-item {
  background: #fff;
  border: 1px solid #ccc;
  min-height: 20px;
  margin-bottom: 5px;
}

.checklist-item.canceled {
  text-decoration: line-through;
}

.checklist-item.complete {
  background: rgba(10,10,240,0.5);
  color: rgba(255,255,255,0.8);
}

.item-controls {
  display: flex;
  position: absolute;
  left: calc(100% + 10px);
}

.item-controls button {
  display: block;
}
