* {
  background: none;
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-family: monospace;
}

#editor {
  background: transparent;
  position: relative;
  margin: auto;
  margin-top: 25%;
  max-width: 450px;
  min-height: 150px;
}

.ProseMirror:focus {
  outline: none;
}

.checklist-item, .status-icon, .item-controls {
  height: 20px;
  line-height: 20px;
  font-size: 16px;
}

.title {
  border-bottom: 1px solid #ccc;
  font-size: 36px;
  margin-bottom: 25px;
}

.notes {
  border: 1px solid #ccc;
  min-height: 150px;
}

.checklist {
  margin-bottom: 25px;
}

.checklist-item {
  border-bottom: 1px solid #ccc;
  min-height: 20px;
  margin-bottom: 15px;
}

.checklist-item.canceled {
  text-decoration: line-through;
}

.checklist-item.complete {
  background: rgba(10,10,240,0.5);
  color: rgba(255,255,255,0.8);
}

.status-icon {
  display: block;
  font-size: 20px;
  left: -30px;
  position: absolute;
}

.item-controls {
  display: flex;
  font-size: 12px;
  align-items: center;
  position: absolute;
  left: calc(100% + 10px);
}

.item-controls button {
  display: block;
  padding: 2px 4px;
}
