* {
  background: none;
  border: 0;
  box-shadow: none;
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
}

ol {
  list-style-type: none;
}

body {
  background: #eee;
  font-family: 'Roboto Slab';
}

#app {
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  max-width: 450px;
  position: relative;
  width: 100%;
}

dropdown-menu {
  position: absolute;
  z-index: 1;
  top: 35px;
  right: 15px;
}

dropdown-menu ol {
  background: #fff;
  box-shadow:
    rgba(0, 0, 0, 0.12) 0px 1px 6px,
    rgba(0, 0, 0, 0.12) 0px 1px 4px;
  position: absolute;
  right: 0;
  width: 200px;
}

dropdown-menu {
  cursor: pointer;
}

dropdown-menu li {
  padding: 10px 10px;
}

dropdown-menu li:hover {
  background: rgba(0, 0, 0, 0.1);
}

#editor {
  background: #fff;
  box-shadow:
    rgba(0, 0, 0, 0.12) 0px 1px 6px,
    rgba(0, 0, 0, 0.12) 0px 1px 4px;
  min-height: 600px;
  position: relative;
  width: 100%;
}

@media (max-width: 450px) {
  #app {
    margin-bottom: 0;
    margin-top: 0;
    min-height: 100vh;
  }
}

.ProseMirror:focus {
  outline: none;
}

h2[data-placeholder]:before {
  content: attr(data-placeholder);
  cursor: text;
  opacity: 0.6;
  position: absolute;
}

.checklist-item[data-placeholder]:before {
  content: attr(data-placeholder);
  cursor: text;
  opacity: 0.6;
  position: absolute;
}

.checklist-item, .status-icon, .item-controls {
  line-height: 20px;
  font-size: 16px;
}

.title {
  font-size: 24px;
  padding: 30px 20px 20px 20px;
  width: calc(100% - 50px);
}

.checklist {
  padding-bottom: 25px;
}

.checklist-item {
  min-height: 20px;
  padding: 15px 20px 15px 20px;;
  width: calc(100% - 75px);
}

.checklist-item[selected=true] {
  padding-left: 18px;
  border-left: 2px solid #16621B;
}

.checklist-item.ACTIVE div {
}

.checklist-item.CANCELED .checklist-item-content {
  left: 35px;
  opacity: 0.5;
  position: relative;
  text-decoration: line-through;
}

.checklist-item.CANCELED .current-status-icon {
  color: #C62828;
}

.checklist-item.COMPLETE .checklist-item-content {
  color: #16621B;
  left: 35px;
  position: relative;
}

.checklist-item.COMPLETE .current-status-icon {
  color: #509D55;
}

.current-status-icon {
  left: 20px;
  position: absolute;
}

.current-status-icon[status=COMPLETE] {
  color: #509D55;
}

.current-status-icon[status=CANCELED] {
  color: #C62828;
}

.item-controls {
  display: flex;
  font-size: 12px;
  align-items: center;
  position: absolute;
  right: 15px;
}

.item-controls button {
  cursor: pointer;
  display: block;
  padding: 2px 4px;
}
